<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>bax-mirror</id>
            <url>https://pkgs.dev.azure.com/techcloud0/_packaging/bax/maven/v1</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>bax-mirror</id>
            <username>techcloud0</username>
            <password>${{env.AZURE_PAT_BAXDES_TEMP}}</password>
        </server>
    </servers>
</settings>